html,
body {
    min-height: 100vh;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

/*HEADER STARTS*/

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #373c3f;
}

@media (max-width: 979px) {
    .drop-menu {
        display: none;
        position: absolute;
        right: 0;
    }

    .drop-menu-item {
        display: block;
        color: #444;
        background-color: #fafafa;
        border: 1px solid #f3f3f3;
    }

    .drop-menu.active {
        display: block;
    }

    .logo {
        display: none;
    }

    .fa-bars {
        color: #fff;
    }

    .main-header {
        position: relative;
    }

    .main-header-text {
        padding: 25px 38px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
    }

    .nav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #202529;
    }
}

@media (max-width: 639px) {
    .drop-menu {
        top: 37px;
        width: 182px;
    }

    .drop-menu-item {
        font-size: 12.4px;
        padding-top: 9.1px;
        padding-left: 11px;
        padding-bottom: 9px;
        color: #5c5c5c;
    }

    .drop-menu-item:hover {
        background-color: #f5f5f5;
    }

    .main-header-text {
        padding: 12px 18px;
        font-size: 12.5px;
        font-weight: 500;
        letter-spacing: 0.73px;
    }

    .nav-btn {
        width: 41px;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
    .drop-menu {
        top: 74px;
        width: 243px;
    }

    .drop-menu-item {
        font-size: 14px;
        padding: 17px;
        color: #5c5c5c;
    }

    .drop-menu-item:hover {
        background-color: #f5f5f5;
    }

    .main-header-text {
        padding: 25px 38px;
        font-size: 24px;
    }

    .nav-btn {
        width: 82px;
    }
}

@media (min-width: 980px) {
    .logo {
        display: block;
    }

    .main-header-text {
        display: none;
    }

    .nav-btn {
        display: none;
    }

    .drop-menu-item {
        color: #ececec;
        text-transform: uppercase;
        color: #ececec;
        font-size: 15px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .drop-menu-item {
        padding: 43px 30px;
        padding-right: 0;
    }

    .logo {
        padding: 7px 30px;
    }
}

@media (min-width: 1200px) {
    .drop-menu-item {
        padding: 43px 38px;
        padding-right: 0;
    }

    .logo {
        padding: 7px 38px;
    }
}

/*HEADER ENDS*/

/*MAIN SCREEN STARTS*/

.main-title {
    color: #ffffff;
}

.sub-title {
    color: #a6d6e0;
}

@media (max-width: 639px) {
    .main-screen {
        background: url("../img/header-fon320.png") no-repeat center/cover;
    }

    .main-title {

        padding-left: 20px;
        font-size: 16px;
        font-weight: 700;
    }

    .main-screen .main-title:nth-child(1) {
        padding-top: 16px;
    }

    .main-screen .main-title:nth-child(2) {
        padding-top: 7px;
    }

    .sub-title {
        font-size: 14px;
        font-weight: 700;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 94px;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
    .main-screen {
        background: url("../img/header-fon640.png") no-repeat center/cover;
    }

    .main-title {
        padding-top: 30px;
        padding-left: 38px;
        font-size: 36px;
        font-weight: 700;
    }

    .sub-title {
        font-size: 24px;
        font-weight: 700;
        padding-left: 37px;
        padding-top: 22px;
        padding-bottom: 197px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .main-screen {
        background: url("../img/header-fon980.png") no-repeat center/cover;
    }

    .main-title {
        font-size: 54px;
        font-weight: 700;
        padding-top: 64px;
        padding-left: 30px;
    }

    .sub-title {
        font-size: 34px;
        font-weight: 700;
        padding-top: 57px;
        padding-left: 30px;
        padding-bottom: 260px;
    }
}

@media (min-width: 1200px) {
    .main-screen {
        background: url("../img/main-screen-fon.png") no-repeat center/cover;
    }

    .main-title {
        font-size: 62px;
        font-weight: 700;
        padding-top: 58px;
        padding-left: 37px;
    }

    .sub-title {
        font-size: 38px;
        font-weight: 700;
        padding-top: 53px;
        padding-left: 37px;
        padding-bottom: 379px;
    }
}

/*MAIN SCREEN ENDS*/

/*MENU CATEGORIES STARTS*/

@media (max-width: 639px) {
    .menu-categories a:nth-child(1) {
        background: url("../img/Pizza delivery fon320.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(2) {
        background: url("../img/UA_UX%20Salads%20fon320.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(3) {
        background: url("../img/Desserts%20fon%20copy320.png") no-repeat center/cover;
    }

    .menu-categories {
        margin-top: 3px;
    }

    .categories-item {
        display: grid;
        grid-template-columns: 3.5fr 1fr;
        margin-top: 1px;
    }

    .categories-item:nth-child(1) p:nth-child(1) {
        color: #fff;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 31px;
        padding-left: 5px;
    }

    .categories-item:nth-child(2) p:nth-child(1) {
        color: #fff;
        text-align: center;
        padding-top: 28px;
        padding-bottom: 27px;
        padding-left: 24px;
    }

    .categories-item:nth-child(3) p:nth-child(1) {
        color: #fff;
        text-align: center;
        padding-top: 27px;
        padding-bottom: 29px;
        padding-right: 4px;
    }

    .categories-item p:nth-child(2) {
        background-color: #acd8ad;
        color: #fff;
    }

    .categories-item p:nth-child(2) {
        padding-top: 25px;
        padding-left: 26px;
    }

    .categories-item p {
        font-size: 20px;
        font-weight: 700;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
    .menu-categories a:nth-child(1) {
        background: url("../img/Pizza%20delivery%20fon640.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(2) {
        background: url("../img/UA_UX%20Salads%20fon640.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(3) {
        background: url("../img/Desserts%20fon%20copy640.png") no-repeat center/cover;
    }

    .menu-categories {
        margin-top: 5px;
    }

    .categories-item {
        display: grid;
        grid-template-columns: 3.5fr 1fr;
        margin-top: 1px;
    }

    .categories-item p {
        color: #fff;
        text-align: center;
        padding: 60px;
    }

    .categories-item p:nth-child(2) {
        background-color: #acd8ad;
    }

    .categories-item p {
        font-size: 36px;
        font-weight: 700;
    }
}

@media (min-width: 980px) {
    .menu-categories a:nth-child(1) {
        background: url("../img/Pizza%20delivery%20fon980.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(2) {
        background: url("../img/UA_UX%20Salads%20fon980.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(3) {
        background: url("../img/Desserts%20fon%20copy980.png") no-repeat center/cover;
    }

    .menu-categories {
        margin-top: 6px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .categories-item p:nth-child(2) {
        display: none;
    }

    .categories-item p {
        color: #fff;
        text-align: center;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .categories-item p {
        padding-top: 148px;
        padding-bottom: 148px;
        font-size: 38px;
        font-weight: 700;
    }
}

@media (min-width: 1200px) {
    .menu-categories a:nth-child(1) {
        background: url("../img/Pizza%20delivery%20fon.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(2) {
        background: url("../img/UA_UX Salads fon.png") no-repeat center/cover;
    }

    .menu-categories a:nth-child(3) {
        background: url("../img/Desserts fon.png") no-repeat center/cover;
    }

    .categories-item p {
        padding-top: 183px;
        padding-bottom: 183px;
        font-size: 43px;
        font-weight: 700;
    }
}

/*MENU CATEGORIES ENDS*/

/*MAIN MENU STARTS*/

.menu-title p:nth-child(1) {
    text-transform: uppercase;
}

@media (max-width: 979px) {
    .main-menu-logo {
        display: none;
    }

    .menu-title p:nth-child(1) {
        text-align: center;
    }

    .menu-title p:nth-child(1) {
        color: #3f4043;
    }

    .menu-title p:nth-child(2) {
        color: #cbcdce;
    }
}

@media (max-width: 639px) {
    .main-menu {
        padding-top: 21px;
    }

    .menu-title p:nth-child(1) {
        font-size: 20.07px;
    }

    .menu-title p:nth-child(2) {
        padding-left: 9px;
        padding-top: 4px;
        font-size: 10.03px;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
    .main-menu {
        padding-top: 45px;
    }

    .menu-title p:nth-child(1) {
        font-size: 40px;
    }

    .menu-title p:nth-child(2) {
        padding-left: 22px;
        padding-top: 9px;
        font-size: 20px;
    }
}

@media (min-width: 980px) {
    .menu-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px 0 30px;
    }

    .main-menu-logo {
        display: block;
    }

    .menu-title p:nth-child(2) {
        padding-top: 10px;
        font-size: 20px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .menu-head {
        margin-top: 50px;
        padding: 0 30px 0 30px;
    }

    .menu-title p:nth-child(1) {
        font-size: 34px;
    }
}

@media (min-width: 1200px) {
    .menu-head {
        margin-top: 41px;
        padding: 0 22px 0 22px;
    }

    .menu-title p:nth-child(1) {
        font-size: 40px;
    }
}

.main-menu-title h3 {
    text-transform: uppercase;
}

.main-menu-title div:nth-child(1) h3 {
    color: #acd9ad;
    background-color: #3f4043;
}

.main-menu-title div:nth-child(2) h3 {
    color: #fff;
    background-color: #acd8ad;
}

@media (max-width: 639px) {
    .main-menu-title {
        margin-top: 10px;
    }

    .main-menu-title .menu-part:nth-child(2) {
        margin-top: 29px;
    }

    .main-menu-title h3 {
        padding-top: 8px;
        padding-bottom: 9.5px;
        padding-left: 19px;
        font-size: 20.07px;
    }

    .main-menu-title:nth-child(2) h3 {
        padding-bottom: 9px;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
    .main-menu-title .menu-part:nth-child(2) {
        margin-top: 40px;
    }

    .main-menu-title {
        margin-top: 20px;
    }

    .main-menu-title h3 {
        padding: 23px 38px;
        font-size: 40px;
    }
}

@media (min-width: 980px) {
    .main-menu-title {
        display: flex;
        flex-wrap: wrap;
    }

    .menu-part {
        width: 50%;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .main-menu-title {
        margin-top: 21px;
        font-size: 34px;
    }

    .main-menu-title h3 {
        padding: 18px 25px;
    }
}

@media (min-width: 1200px) {
    .main-menu-title {
        margin-top: 16px;
    }

    .main-menu-title h3 {
        padding: 17px 23px;
        font-size: 40px;
    }
}

.menu-sub-part,
.dish-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-part-title {
    text-transform: uppercase;
    color: #3f4043;
}

.dish-name {
    color: #3f4043;
}

.dish-price {
    color: #3f4043;
    font-weight: 700;
}

.dish-description {
    color: #3f4043;
    text-align: justify;
}

@media (max-width:639px) {
    .menu-part:nth-child(1) .menu-sub-part:nth-child(2) {
        margin: 11px 17px 4px 18px;
    }

    .menu-part:nth-child(1) .dish-title:nth-child(3) {
        margin: 11px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-description:nth-child(4) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-title:nth-child(5) {
        margin: 10px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-description:nth-child(6) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-title:nth-child(7) {
        margin: 10px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-description:nth-child(8) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-title:nth-child(9) {
        margin: 10px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-description:nth-child(10) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(1) .menu-sub-part:nth-child(11) {
        margin: 18px 23px 0 17px;
    }

    .menu-part:nth-child(1) .dish-title:nth-child(12) {
        margin: 15px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-description:nth-child(13) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-title:nth-child(14) {
        margin: 10px 17px 0 18px;
    }

    .menu-part:nth-child(1) .dish-description:nth-child(15) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(2) {
        margin-top: 2px;
    }

    .menu-part:nth-child(2) .menu-sub-part:nth-child(2) {
        margin: 14px 17px 4px 18px;
    }

    .menu-part:nth-child(2) .dish-title:nth-child(3) {
        margin: 13px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-description:nth-child(4) {
        margin: 8px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-title:nth-child(5) {
        margin: 10px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-description:nth-child(6) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-title:nth-child(7) {
        margin: 11px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-description:nth-child(8) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-title:nth-child(9) {
        margin: 10px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-description:nth-child(10) {
        margin: 8px 17px 0 18px;
    }

    .menu-part:nth-child(2) .menu-sub-part:nth-child(11) {
        margin: 20px 23px 0 17px;
    }

    .menu-part:nth-child(2) .dish-title:nth-child(12) {
        margin: 17px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-description:nth-child(13) {
        margin: 9px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-title:nth-child(14) {
        margin: 10px 17px 0 18px;
    }

    .menu-part:nth-child(2) .dish-description:nth-child(15) {
        margin: 9px 17px 0 18px;
    }

    .sub-part-title {
        font-size: 15.05px;
    }

    .dish-title {
        padding: 3px 17px 7px 17px;
    }

    .dish-name,
    .dish-price {
        font-size: 13.55px;
    }

    .dish-description {
        padding-left: 17px;
        padding-right: 17px;
        font-size: 8.78px;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
    .menu-sub-part {
        padding: 39px 38px 24px 38px;
    }

    .sub-part-title {
        font-size: 30px;
    }

    .dish-title {
        padding: 22px 36px 16px 36px;
    }

    .dish-name,
    .dish-price {
        font-size: 27px;
    }

    .dish-description {
        padding-left: 36px;
        padding-right: 36px;
        font-size: 17.5px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    .menu-sub-part {
        padding: 28px 16px 7px 16px;
    }

    .sub-part-title {
        font-size: 26.01px;
    }

    .dish-title {
        padding: 28px 16px 21px 16px;
    }

    .dish-name,
    .dish-price {
        font-size: 24px;
    }

    .dish-description {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    .menu-sub-part {
        padding: 38px 18px 14px 18px;
    }

    .sub-part-title {
        font-size: 30px;
    }

    .dish-title {
        padding: 22px 19px 16px 19px;
    }

    .dish-name,
    .dish-price {
        font-size: 27px;
    }

    .dish-description {
        padding-left: 19px;
        padding-right: 19px;
        font-size: 17.5px;
    }
}

/*MAIN MENU STARTS*/

/*FOOTER STARTS*/
footer {
    background-color: #acd8ad;
    color: #fff;
}

@media (max-width: 639px) {
    footer {
        margin-top: 49.5px;
        padding: 13px 38px 12px 41px;
        font-size: 12px;
        text-align: center;
        line-height: 15px;
        letter-spacing: 0.6px;
    }

    footer img {
        display: none;
    }
}

@media (min-width: 640px) and (max-width: 979px) {
    footer {
        margin-top: 117px;
        padding: 26px 139px;
        font-size: 18px;
        text-align: center;
    }

    footer img {
        display: none;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {
    footer {
        margin-top: 84px;
        padding: 7px 30px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer div p {
        display: inline-block;
    }
}

@media (min-width: 1200px) {
    footer {
        margin-top: 128px;
        padding: 7px 37px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    footer div p {
        display: inline-block;
    }
}

/*FOOTmargin*/
